*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    background-color: rgb(201, 252, 235);
}

.container{
      width: 30%;
      height: 48%; 
      padding: 40px 60px;
      background-color: black;
      position: relative;
      top: 300px;
      left: 520px;
      border-radius: 10px;
      box-shadow: 20px 20px 40px rgba(97,63,0,0.4);
      text-align: center;
}

span{
    /* display: inline; */
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

p{
    font-size: 17px;
    color: rgb(44, 128, 245);
    text-align: center;
    word-wrap: break-word;
    line-height: 34px;
    margin: 33px 0;
    opacity: 0;
}

.fade{
    opacity: 1;
    transition: opacity 1.5s;
}

button{
    display: block;
    background-color: #aaf796;
    border: none;
    font-size: 18px;
    color: black;
    font-weight: 500;
    padding: 12px 15px;
    margin: 0 auto;
    border-radius: 6px;
    cursor: pointer;
}